[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-markdownify = "*"
django-crispy-forms = "*"
pillow = "*"
django-guardian = "*"
django-braces = "*"
django-ckeditor-filebrowser-filer = "*"
django-tinymce = "*"

[dev-packages]

[requires]
python_version = "3.6"
