{% extends 'base.html' %}

{% block main %}
<div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
        <div class="anasayfa-slogan col-lg-10">
            <h3>Aşkınızı tarihe yazmak ister misiniz?</h3>
            <ul class="list-unstyled text-center mt-20 mb-0">
                    <li class="list-unstyled-item">
                        <i class="fab fa-twitter fa-2x"></i> Sevdiğiniz bir kişiye sürpriz  yapmak istiyorsunuz
                    </li>
                    <li class="list-unstyled-item">
                        <i class="fab fa-twitter fa-2x"></i> Sevdiğiniz bir kişiye sürpriz  yapmak istiyorsunuz
                    </li>
                    <li class="list-unstyled-item">
                        <i class="fab fa-twitter fa-2x"></i> Sevdiğiniz bir kişiye sürpriz  yapmak istiyorsunuz
                    </li>
                    <li class="list-unstyled-item">
                        <i class="fab fa-twitter fa-2x"></i> Sevdiğiniz bir kişiye sürpriz  yapmak istiyorsunuz
                    </li>
                </ul>
        </div>
        <div class="social-icons">
                <ul class="list-unstyled list-inline text-center mt-20 mb-0">
                    <li class="list-unstyled-item">
                    <a href="#">
                        <i class="fab fa-twitter fa-4x"></i>
                    </a>
                    </li>
                    <li class="list-unstyled-item">
                    <a href="#">
                        <i class="fab fa-facebook-f fa-4x"></i>
                    </a>
                    </li>
                    <li class="list-unstyled-item">
                    <a href="#">
                        <i class="fab fa-instagram fa-4x"></i>
                    </a>
                    </li>
                </ul>
        </div>
</div>

<div class="scrollable col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="items">
    {% for ilan in ilanlar %}
        <div class="item"> {{ ilan.metin | truncatewords_html:16 |safe }} </div>
    {% endfor%}
    
    </div>
</div>

{% endblock %}





