<!DOCTYPE html>
{% load staticfiles %}

<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lovers Album | aşkını tarihe yaz</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/wf-style.css' %}">
    <link rel="stylesheet" href="{% static '/js/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/js/assets/owl.theme.default.min.css' %}">   
 
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
     {% if request.path == '/ilan/listele/'%}
        <script src="{% static '/js/responsive_waterfall.js' %}"></script>
        {% endif %}
    <script type="text/javascript" src="{% static "/summernote/summernote.min.js" %}"></script>

</head>

<body data-spy="scroll" data-target="#myScrollspy">
    <nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="205">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="{% url 'anasayfa' %}">Lovers Album</a></div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item">
                    <a href="{% url 'ilan:ilan_ekle' %}" class="btn-default-new nav-link"><span class="glyphicon glyphicon-plus"></span> İlan Ekle</a>
                    </li>
                    <li class="nav-item"><a href="{% url 'ilan:ilan_listele' %}"  class="nav-link">Aşk İlanları</a></li>
                    <li class="nav-item"><a href="#iletisim"  class="nav-link">İletişim</a></li>
                    
                    {% if user.is_authenticated %}  
                    <li class="nav-item">
                        <div class="dropdown">
                        <button class="btn login-name-btn dropdown-toggle" type="button" data-toggle="dropdown">{{ user.first_name  }} {{ user.last_name }}
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'dashboard' %}">Hesap Bilgileri</a></li>
                            <li>{% if user.is_authenticated and user.ilan != '' %}
                                    <a class="dropdown-item m2" href="{{ BASE_URL }}/ilan/{{ user.ilan.id }}/edit">İlanını Düzenle <span class="glyphicon glyphicon-pencil"></span></a>
                                {% else %}
                                    <a class="dropdown-item " href="{% url 'ilan:ilan_ekle' %}">İlan Ekle <span class="glyphicon glyphicon-plus"></span></a>
                                {% endif %}
                            </li>

                            <li><a class="dropdown-item" href="{% url 'logout' %}">Çıkış</a></li>
                        </ul>
                        </div> 
                    </li>
                    
                    {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}"  class="nav-link"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Giriş</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% if request.path == '/' %}  
                {% block main %}

                {% endblock main %}
{% else %}
<section class="main-section" {% if request.path == '/user/login/' or request.path == '/register/'  %}style="background-image:url('{% static "/images/loginbg.jpg" %}');background-position: center center;background-size: cover;background-repeat: no-repeat;min-height: 100vh;"{% endif %}>
    <div class="row" style="margin:0">
        {% block content %}

        {% endblock content %}
    </div>
</section>
 {% endif %}
<footer id="iletisim">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                    <h3>İletişim</h3>
                    <p>Sevgililerine sürpriz yapmak isteyen romantiklere ilan-ı aşk etme fırsatı sunuyoruz. </p>
                    <div class="gap">
                        <div class="col-sm-6 col-xs-12"> <span class="glyphicon glyphicon-earphone"></span> <a href="tel:123456789">123-456-789</a> </div>
                        <div class="col-sm-6 col-xs-12"> <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@loversalbum.com">info@loversalbum.com</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static '/js/owl.carousel.min.js' %}"></script>
        <script src="{% static '/js/jscolor.js' %}"></script>

        <script src="{% static '/js/script.js' %}"></script>
        

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
</body>

</html>